.likes{

    margin-bottom: 10px;
}

#knopje2 {
    float: right;

}

.row {
    width: 70%;
    margin: 0 auto;
}
.cards{
    border-spacing: 20px;
    border-collapse: separate;
    text-align: center;
    width: 100%;
}
.cards li{
    list-style: none;
    margin: 1px;

}
.cards td{
    border: 1px;
    border-color: black;
    border-radius: 5px;
    border-style: groove;
    margin-right: 100px;
    border-spacing: 10px;

}
